# dependencias
node_modules

# logs
logs
*.log
npm-debug.log*

# variables de entorno
.env
.env.*

# git
.git
.gitignore

# docker
.dockerignore
docker-compose.yml

# ide
.vscode
.idea

# sistema operativo
.DS_Store
Thumbs.db

# cache y temporales
.cache
tmp
temp
coverage